<section class="settings-container">
  <header>
    <h3>Mock Generator Settings</h3>
  </header>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
      <div class="dialog-body">
        <section class="general-settings">
          <mg-mock-settings
                  settingsHeader="Global Settings:"
                  [settingsForm]="settingsForm"
                  [charsToPreserve]="charsToPreserve"
                  (changedCharsToPreserve)="onCharsToPreserveChanged($event)">
          </mg-mock-settings>
          <div class="prop-settings">
            <mg-mock-settings
                    *ngFor="let propName of propSettingsList"
                    [settingsHeader]="propName + ' Settings:'"
                    [settingsForm]="settingsForm.controls[propName]"
                    [charsToPreserve]="charsToPreserve"
                    (changedCharsToPreserve)="onCharsToPreserveChanged($event)">
            </mg-mock-settings>
          </div>
          <!--        <div class="control-buttons">-->
          <!--          <div class="right-btns">-->
          <mat-form-field>
            <mat-label>Property Name</mat-label>
            <input #propertyToAddName
                   matInput
                   placeholder="foo or foo.bar"
                   name="property-name"/>
          </mat-form-field>
          <button mat-raised-button
                  class="add-property-settings"
                  color="secondary"
                  type="button"
                  (click)="addSettingGroup(propertyToAddName.value)">
            <mat-icon>add</mat-icon> Add Settings
          </button>
          <!--          </div>-->
          <!--        </div>-->
        </section>
      </div>
      <div class="dialog-footer">
        <button mat-fab
                class="submit-btn"
                color="secondary">
          <mat-icon>checkbox</mat-icon>
        </button>
      </div>
    </form>
  <pre>{{settingsForm.value | json}}</pre>
</section>
