.settings-container {
  max-width: 50rem;

  .disabled {
    color: #bcbcbc;
  }

  .chars-to-preserve {
    width: 100%;
  }

  .checkbox-field {
    margin: 1rem 0;
  }

  .submit-btn {
    margin-top: 2rem;
    color: #008b4e;
  }
}
