.settings-container {
  max-width: 50rem;
  max-height: 80vh;

  .general-settings {
    overflow: scroll;

    .prop-settings {
      margin-left: 1rem;
    }
  }

  .dialog-footer {
  }

  //.control-buttons {
  //  width: 100%;
  //
  //  .right-btns {
  //    float: right;
  //  }
  //}
}
