<div class="mock-gen-container">
  <h2 class="header">JSON Mock Generator</h2>
  <form class="mock-form">
    <div class="settings-btn">
      <button mat-raised-button
              class="settings-btn"
              (click)="openSettings()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <mat-form-field>
      <mat-label>Source to Mock</mat-label>
      <textarea rows="8"
              class="input-object"
              matInput
              placeholder="Paste in JSON to mock"
              name="input-obj"
              [(ngModel)]="sourceObject">
      </textarea>
    </mat-form-field>
  </form>
  <div class="mock-btn-container" #btnContainer>
    <div class="mock-source-btns">
      <mat-checkbox
              class="multiple-mocks-checkbox"
              [(ngModel)]="multipleMocks">
        Multi
      </mat-checkbox>
      <button mat-raised-button
              class="generate-mock"
              color="primary"
              *ngIf="!multipleMocks"
              (click)="genMockedObject()"
              [disabled]="!sourceObject">
        Generate Mock
      </button>
      <mat-form-field class="num-of-mocks" *ngIf="multipleMocks">
        <mat-label>How Many?</mat-label>
        <input class="num-of-mocks"
               matInput
               type="number"
               max="1000"
               placeholder="How Many?"
               name="numOfMocks"
               [(ngModel)]="numOfMocks" />
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              *ngIf="multipleMocks"
              (click)="genMockedObject(numOfMocks)"
              [disabled]="!sourceObject">
        Generate Mock List
      </button>
      <button mat-raised-button
              color="secondary"
              (click)="resetObjectToMock()"
              [disabled]="!sourceObject">
        Reset
      </button>
    </div>
    <div class="left-btn-group">
      <button *ngIf="mockResult"
              mat-raised-button
              color="accent"
              class="copy-mock-btn"
              ngxClipboard
              [cbContent]="mockedRespBodyString"
              [container]="btnContainer"
              (click)="onCopyMockToClipboard()">
        <mat-icon aria-hidden="false" aria-label="Copy">content_copy</mat-icon>
        Copy to Clipboard
      </button>
    </div>
  </div>
  <code *ngIf="mockResult" class="req-body-output">
    <pre>{{mockResult | json}}</pre>
  </code>
  <div class="bottom-btns">
    <button *ngIf="mockResult"
            mat-raised-button
            color="accent"
            class="copy-mock-btn"
            ngxClipboard
            [cbContent]="mockedRespBodyString"
            [container]="btnContainer"
            (click)="onCopyMockToClipboard()">
      <mat-icon aria-hidden="false" aria-label="Copy">content_copy</mat-icon>
      Copy to Clipboard
    </button>
  </div>
<!--  <pre>{{currentSettings | json}}</pre>-->
</div>
