.mock-gen-container {
  .header {
    text-align: center;
  }
  .mock-form {
    .mat-form-field {
      width: 100%;
    }
  }

  div.mock-btn-container {
    display: flex;
    justify-content: space-between;

    .mock-source-btns {
      .multiple-mocks-checkbox {
        margin-right: 1rem;
      }

      .generate-mock {
        margin-top: 0.75rem;
        margin-bottom: 1.1rem;
      }

      .mat-form-field.num-of-mocks {
        width: 6.5rem;
        margin-right: 1rem;
      }
      button  {
        margin-right: 1rem;
      }
    }

    .left-btn-group {
      padding-top: 0.7rem;
    }
  }

  .req-body-output {
    pre {
      padding: 1rem;
      background-color: #333;
      color: #fff;
    }
  }

  .bottom-btns {
    display: flex;
    justify-content: flex-end;
  }

}
